.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  background-color: rgba(255, 0, 0, 0);
}
.nav {
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between;
  padding-right: 1rem;
}

.game1,
.game2,
.game3,
.game4 {
  background-color: rgba(255, 255, 255, 0.15);
  height: 8rem;
  width: 10rem;
  border-radius: 8px;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/*.game1 {
  background-color: rgba(255, 255, 255, 0.375);
}*/

.game-name-top {
  width: 100%;
  height: 25%;
  background-color: rgb(152, 12, 12);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.game-png {
  width: 10rem;
  height: 75%;
  display: block;
  justify-content: center;
  align-content: center;
}

.game {
  background-color: rgba(255, 255, 255, 0.15);
  height: 35rem;
  width: 55rem;
  border-radius: 8px;
}

.stats {
  background-color: rgba(0, 255, 255, 0);
  display: none;
  flex-direction: column;
  height: 35rem;
  justify-content: space-between;
  padding-left: 1rem;
}

.ranking {
  background-color: rgba(255, 255, 255, 0.15);
  height: 18rem;
  width: 18rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
}

#qrCode {
  background-color: rgba(255, 255, 255, 0.15);
  width: 360px;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  display: flex;
}

/*only display qrcode on monitor*/
@media (max-width: 1300px) {
  .qrCode {
    display: none;
  }
  #qrCode {
    display: none;
  }

  .ranking {
    display: flex;
  }
}

.leaderbaord-top {
  width: 100%;
  height: 12.5%;
  background-color: #c29453;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.console {
  background-color: rgba(255, 255, 255, 0.15);
  height: 18rem;
  width: 18rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.console-logs-top {
  width: 100%;
  height: 12.5%;
  background-color: #111;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.history-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-button {
  background-color: rgb(152, 12, 12);
  border-radius: 10px;
  border-color: rgb(241, 241, 241, 0.75);
  border-style: solid;
  cursor: pointer;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.2rem;
  color: rgb(241, 241, 241, 0.75);
  transition: 0.2s ease;
  margin-top: 0.5rem;
}
.history-button:hover {
  background-color: rgba(152, 12, 12, 0.75);
}
.history-button i {
  transition: transform 0.3s ease;
}

#history-toggle:checked ~ .history-button-div .history-button i {
  transform: rotate(180deg);
}

#live-console {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  width: 100%;
  height: 80%;
  overflow-y: hidden;
  word-wrap: break-word;
  white-space: normal;
  padding: 1rem;
  justify-self: center;
  margin-top: 5%;
}

#live-console > div {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  border-top: 0.23rem solid rgba(3, 3, 3, 0.5);
  padding: 0.2rem;
  font-family: inconsolata, sans-serif;
}

/*=============
MOBILE SUPPORT
==============*/

@media (max-width: 1080px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 45vw 45vw;
    height: auto;
    padding-right: 0px;
    align-items: center;
    justify-items: center;
  }

  .game1,
  .game2,
  .game3,
  .game4 {
    height: 8rem;
    width: 10rem;
  }

  .game {
    height: 94vw;
    width: 94vw;
    margin: 1rem;
  }

  .stats {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    width: 90vw;
    height: 188vw;
    justify-content: center;
    align-content: center;
  }

  .ranking {
    height: 90vw;
    width: 90vw;
    border-radius: 8px;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 1rem;
  }

  .console {
    height: 90vw;
    width: 90vw;
    border-radius: 8px;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 0;
  }
}

/*=============
Monitor SUPPORT
==============*/

@media (min-width: 1300px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    height: 45rem;
    justify-content: space-between;
    padding-right: 0rem;
    margin-right: 9rem;
  }

  .game1,
  .game2,
  .game3,
  .game4 {
    height: 10.5rem;
    width: 14rem;
    border-radius: 8px;
  }

  .game {
    height: 45rem;
    width: 45rem;
    border-radius: 8px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    height: 45rem;
    justify-content: space-between;
    padding-left: 1rem;
  }

  .ranking {
    height: 22.5rem;
    width: 22.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .console {
    height: 22.5rem;
    width: 22.5rem;
    border-radius: 8px;
  }
}

.test {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  border-style: solid;
}
