* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body {
  background-color: #212121;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
