.history {
  display: none;
  width: 100%;
  height: 50rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#history-toggle:checked ~ .history {
  display: block;
}

.history-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 3rem;
}

.hst-nav-btn {
  width: 10rem;
  color: white;
  background-color: rgb(33, 33, 33);
  border-color: white;
  border-radius: 5px;
  padding: 0.3rem;
  border-style: solid;
  transition: 0.25s;
  margin: 1rem;
  align-items: center;
}

.hst-nav-btn:hover {
  background-color: rgb(17, 17, 17);
  transition: 0.25s;
}

.page1-dark {
  background-color: none;
  transition: 0.25s;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.page1-dark:hover {
  background-color: rgb(17, 17, 17);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: 0.25s;
}

/*MAIN*/

.hst-main {
  height: 100%;
  width: 100%;
  background-color: rgb(17, 17, 17);
  justify-self: center;
  align-self: center;
  display: flex;
}
