.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-box {
  background-color: rgb(90, 90, 90);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  padding: 2rem;
  width: 22rem;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: rgb(241, 241, 241, 0.9);
}

.settings-box h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.settings-box-label {
  display: block;
  margin: 0.5rem 0;
  cursor: pointer;
}

.settings-close {
  margin-top: 1rem;
  background-color: rgb(152, 12, 12);
  border-radius: 8px;
  border: none;
  color: rgb(241, 241, 241, 0.85);
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.settings-close:hover {
  background-color: rgba(152, 12, 12, 0.75);
}

.href-flex {
  display: flex;
  justify-content: space-between;
}

.credits,
.impressum {
  color: rgb(241, 241, 241, 0.85);
  text-decoration: none;
  font-size: 0.9rem;
}

.credits:hover,
.impressum:hover {
  text-decoration: underline;
}

@media (min-width: 767px) {
  .mobile-language {
    display: none;
    margin: 0.5rem 0;
  }
}
